{% extends 'base.twig' %}

{% block content %}
	<div>
		<h1>{{ site_name }}'s Style Guide</h1>
		<ol>
			<li><a href="common-html/">Common HTML</a></li>
			<li><a href="archive-items/">Archive Items</a></li>
			<li><a href="pagination/">Pagination</a></li>
		</ol>
	</div>
{% endblock %}
